PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
FRONTEND_URL=http://localhost:3000
ADMIN_HASH=<bcrypt_hash_for_admin_password>
